<ion-header>
  <ion-navbar >
    <ion-buttons start>
      <button royal (click)="addWeather()"> Add </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
  <weather 
  [weather]="localWeather"
  (viewMore)="viewForcast($event)">
  </weather>

  <weather 
  *ngFor="let weather of weatherList"
  [weather]="weather"
  (viewMore)="viewForcast($event)">
  </weather>
    
  </ion-list>
</ion-content>
