<!--
  Generated template for the Add page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Weather</ion-title>
    <ion-buttons end>
      <button royal (click)="dismiss()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
  <ion-item>
    <ion-label stacked>City</ion-label>
    <ion-input type="text" [(ngModel)]="data.city"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Country</ion-label>
    <ion-select [(ngModel)]="data.country">
      <ion-option value="IN">India</ion-option>
      <ion-option value="ZA">South Africa</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
<div padding>
  <button block (click)="dismiss(data)">Add Weather</button>
</div>
</ion-content>
