
<ion-header>

  <ion-navbar>
    <ion-title>{{cityWeather.name}}: 7 Day Forcast</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-list>
    <ion-item *ngFor="let weather of forecast" >
      <ion-thumbnail item-left>
        <img src="http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png">
        </ion-thumbnail>
        <h2>{{weather.dt * 1000 | date : 'EEEE' }}</h2>
        <h3>High {{weather.temp.max | temprature}}</h3>
        <p>Low:{{weather.temp.min | temprature}} </p>
    </ion-item>
  </ion-list>

</ion-content>
